@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #918E7C;
  max-width: 100%;
  margin: 0; }

.header {
  background-color: #37332B; }

.logo {
  display: flex;
  justify-content: center;
  padding: 0;
  height: auto;
  max-width: 100%; }

.menu {
  background-color: #BBA063; }

.barra {
  margin: 0; }

.botones {
  background-color: #37332B;
  color: #BBA063;
  border-color: black;
  width: 80%;
  text-align: center;
  flex-direction: column; }
  .botones:hover {
    background-color: #BBA063;
    color: #37332B;
    border-color: black; }

/*hero*/
.hero {
  margin-bottom: 0.5rem; }

.hero--alto {
  height: 50vh; }

.hero--img {
  object-fit: cover;
  object-position: center;
  height: 50vh; }

/*articulos*/
.titulo {
  margin: 0.5rem; }

.img {
  width: 30vh;
  border-radius: 50%;
  overflow: hidden; }

.art--parrafo {
  text-align: center;
  font-size: large; }

.art--col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

/* ANIMACIONES */
.pulsate-fwd {
  -webkit-animation: pulsate-fwd 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate forwards;
  animation: pulsate-fwd 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate forwards; }

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.tamañoimg {
  width: 50vh; }

.formulario h2 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin: 20px; }

.formulario form {
  width: 450px;
  margin: auto;
  background: #918E7C;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px; }

.formulario input, .formulario textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box; }

.formulario textarea {
  min-height: 100px;
  max-height: 200px; }

@media (max-width: 480px) {
  .formulario
form {
    width: 100%; } }

/*footer*/
.footer-img {
  display: flex;
  justify-content: center;
  align-items: baseline; }

.footer centrar {
  text-align: start; }

.footer--bg {
  background-color: #37332B;
  padding: 0; }

@media (max-width: 480px) {
  .centrar {
    text-align: center; } }

.incono {
  font-size: 4vh;
  color: #3C5C9C;
  margin-left: 0.5px; }

.incono-inst {
  font-size: 4vh;
  color: #D5388D;
  margin-left: 0.5px; }
