*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    // VARIABLES

$color-principal :#37332B;
$color-segundario : #918E7C;
$color-fondo:  #BBA063;
$color-black: black;



body {font-family: Arial, Helvetica, sans-serif;
    background-color: $color-segundario;
    max-width: 100%;
    margin: 0;
}

/* botones */

.botones{
    background-color: $color-principal;
    color: $color-fondo;
    border-color: black;
}

.botones:hover{
    background-color: $color-fondo;
    color: $color-principal;
    border-color:$color-black;
}


/*header*/

.header {
    background-color:$color-principal;
}
.logo {
    display: flex;
    justify-content: center;
    padding: 0;
    height: auto;
    max-width: 100%;
}
.menu{
    background-color: $color-fondo;
}
.barra{
    margin: 0;
}

/*hero*/
.hero{
    margin-bottom: 0.5rem;
}
.hero--alto{
    height: 50vh;
}
.hero--img{
    object-fit: cover;
    object-position: center;
    height: 50vh;
}

/*articulos*/

.art{
    margin: 0.5rem;

    parrafo{
        margin: 0.5rem;
        text-align: center;
        font-size: large;
    }
    
    col {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
}
.titulo {
    margin: 0.5rem;
}
.img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0.5rem;
}


/* ANIMACIONES */

.pulsate-fwd {
	-webkit-animation: pulsate-fwd 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate forwards;
	animation: pulsate-fwd 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate forwards;
}

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
    0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
    50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    }
    100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
}
@keyframes pulsate-fwd {
    0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
    50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    }
    100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
}

/*footer*/

.footer{
    img {
    display: flex;
    justify-content: center;
    align-items: center;
}
}
.footer--bg{
        background-color: $color-principal;
        padding: 0;
}


/* contactos */

/* formulario */

input[type=text],[type=email],[type=tel],textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid $color-principal;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: $color-segundario;
}
input[type=Enviar] {
    background-color:$color-fondo;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=Enviar]:hover {
    background-color:#BBA080;
}
::placeholder{
    color: #EAE7DF;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    background-color: $color-segundario;
}
.formulario{
    border-radius: 5px;
    background-color: $color-segundario;
    padding: 20px;

    h3{
        margin: 1rem;
}
}