*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}


@import "./parciales/_variables.scss";
@import "./parciales/_body.scss";
@import "./parciales/_header.scss";
@import "./parciales/_botones.scss";
@import "./parciales/_hero.scss";
@import "./parciales/articulos";
@import "parciales/_animacion.scss";
@import "./parciales/tamañoimg.scss";
@import "./parciales/_formularios.scss";
@import "./parciales/_footer.scss";
@import "./parciales/inconos.scss";