
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {font-family: Arial, Helvetica, sans-serif;
    background-color: #918E7C;
    max-width: 100%;
}

/* botones */

.botones{
    background-color: #37332B;
    color: #BBA063;
    border-color: black;
}

.botones:hover{
    background-color: #BBA063;
    color: #37332B;
    border-color: black;
}


/*header*/

.header {
    background-color:#37332B;
}
.logo {
    display: flex;
    justify-content: center;
    padding: 0;
    height: auto;
    max-width: 100%;
}
.menu{
    background-color: #BBA063;
}
.barra{
    margin: 0;
}

/*hero*/
.hero{
    margin-bottom: 0.5rem;
}

.hero--alto{
    height: 50vh;
}
.hero--img{
    object-fit: cover;
    object-position: center;
    height: 50vh;
}
/*articulos*/

.art{
    margin: 0.5rem;
}
.titulo {
    margin: 0.5rem;
}
.img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0.5rem;
}
.art--parrafo{
    margin: 0.5rem;
    text-align: center;
    font-size: large;
}

.art--col {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*footer*/

.footer--bg{
    background-color: #37332B;
}
.footer--img {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .footer--cs{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* contactos */

/* formulario */
.formulario h3{
    margin: 1rem;
}
input[type=text],[type=email],[type=tel],textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #37332B;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #918E7C;
}
input[type=Enviar] {
    background-color: #BBA063;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=Enviar]:hover {
    background-color:#BBA080;
}
::placeholder{
    color: #EAE7DF;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    background-color: #918E7C;
}
.formulario{
    border-radius: 5px;
    background-color: #918E7C;
    padding: 20px;
}

/* Accesorios */

/* Productos */
.conteiner__products {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
}
.product {
    border: 1px solid;
    padding: 20px;
    text-align: center;
}
.product__img{
    width: 40%;
    height: 230px;
    object-fit: cover;
}
.prduct__title{
    text-align: center;
}
.product__price{
    color: #BBA063;
    font-weight: bold;
}
.product__icon{
    display: block;
    margin-top: 10px;
}

/* medida tablet */

