/*articulos*/
.titulo {
    margin: 0.5rem;
}
.img {
    width:30vh;
    border-radius: 50%;
    overflow: hidden;

}

.art--parrafo{
    text-align: center;
    font-size: large;
}

.art--col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
