
$color-principal :#37332B;
$color-segundario : #918E7C;
$color-fondo:  #BBA063;
$color-black: black;
.botones{
    background-color: $color-principal;
    color: $color-fondo;
    border-color: black;
    width: 80%;
    margin: auto;


&:hover{
    background-color: $color-fondo;
    color: $color-principal;
    border-color:$color-black;}

}