/*footer*/

.footer{
    &-img {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
centrar{
    text-align: start;
}
}
.footer--bg{
        background-color: $color-principal;
        padding: 0;
}
@include smartphone{
    .centrar{text-align: center;}
}