// formulario
.formulario{
h2{
    text-align:center;
    margin: 0;
    font-size: 30px;
    margin:20px;  
}      
form{
    width: 450px;
    margin: auto;
    background: $color-segundario;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

input , textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}
textarea{
    min-height: 100px;
    max-height: 200px;
}
}

@include smartphone{
    .formulario
    form{width: 100%;}
}
