/* formulario */

input[type=text],[type=email],[type=tel],textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid $color-principal;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: $color-segundario;
}
input[type=Enviar] {
    background-color:$color-fondo;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=Enviar]:hover {
    background-color:#BBA080;
}
::placeholder{
    color: #EAE7DF;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    background-color: $color-segundario;
}
.formulario{
    border-radius: 5px;
    background-color: $color-segundario;
    padding: 20px;

    h3{
        margin: 1rem;
}
}